.mynav {
  overflow: hidden;
  background-color: #333;
}

.mynav a {
  float: left;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  font-size: 19px;
}

@media screen and (min-width: 600px) {
  .mynav a {
    float: center;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    font-size: 19px;
  }
}


.mynav a:hover {
  background-color: white;
  color: brown;
}

.mynav a.active {
  background-color: lightgreen;
  color: darkgreen;
}